<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<style>
    html
    {
        background-color: rgb(16, 174, 174);
    }
</style>
<body>
    <h1>Hello World!</h1>
    <a href = "/info">Информация</a><br>
    <a href = "/hello/ivan">Приветствие</a><br>
    <a href = "/calc/7/16">Калькулятор</a><br>
    <a href = "/people">Список людей поситивших сайт</a><br>
    <a href = "/comm">Список комментариев</a><br>
</body>


</html>