<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<style>
    html
    {
        background-color: rgb(46, 137, 137);
    }


</style>
<body>
    <a href = "/info">страница с информацией</a><br>
    <a href = "comm">комментарии</a><br>
    <a href = "people">список пользователей</a><br>
    <a href = "/hello/Lesha">Попреветствует тебя</a><br>
    <a href = "/reg">Регистрация</a><br>
</body>
</html>